body {
    margin: 0;
  }
  
  #pen-as-header-question {
    display: none;
  }
  
  #profile-image {
    display: none;
  }
  
  #profile-name-header, #profile-username {
    display: inline-block;
    color: white;
    text-shadow: dimgray 0px 0px 5px;
  }
  
  #profile-header {
    background-color: black;
    background-image: none;
    background-size: cover;
    
    position: relative;
    overflow: hidden;
  }
  
  #profile-header::before {
    content: "";
  
    position: absolute;
  
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1672002760395-7237cd83bee3?q=80&w=1800&auto=format');
    background-position: 0 15%;
    
    animation-name: animate-lights, animate-bg;
    animation-duration: 13s, 121s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    transform: translateZ(0);
  }
  
  #profile-header::after {
    content: "";
  
    position: absolute;
  
    top: 0;
    right: 0;
    width: 108%;
    height: 800%;
  
    background-image: url('https://images.unsplash.com/photo-1718051004078-cdd935ab8ad6?q=100&w=380&auto=format');
    
    animation: animate-rain 1.3s linear infinite;
  
    mix-blend-mode: exclusion;
    opacity: 0.25;
    filter: blur(1px);
    
    transform: translateZ(0);
  }
  
  @keyframes animate-bg {
    from {
      background-position: 0 15%;
    }
    to {
      background-position: 0 30%;
    }
  }
  
  @keyframes animate-rain {
    from {
      transform: rotate(180deg) translate(-8%, 50%) translateZ(0);
    }
    to {
      transform: rotate(180deg) translate(0%, 0%) translateZ(0);
    }
  }
  
  @keyframes animate-lights {
    0% {
      filter: hue-rotate(0deg) blur(1.8px);
    }
    25% {
      filter: hue-rotate(34deg) blur(0.8px);
    }
    50% {
      filter: hue-rotate(0deg) blur(1.3px);
    }
    75% {
      filter: hue-rotate(34deg) blur(1.8px);
    }
    100% {
      filter: hue-rotate(0deg) blur(0.8px);
    }
  }
  